# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
ENV/

# Environment variables 
.env

# Model & training files 
saved_summary_model/
results/

# Hugging Face cache
.cache/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/